.builder-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  overflow: hidden;
}

.editor-panel {
  background-color: #fff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .editor-header {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    gap: 10px;
  }

  .scrollable-content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
  }
}

.preview-panel {
  background: #525659;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;

  .preview-paper {
    margin-top: 20px;
  }
}
