.dashboard-container {
  height: 100vh;
}

.dashboard-sidenav {
  width: 250px;
  border-right: 1px solid #ccc;
  background-color: #f5f5f5;

  .logo-area {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  .nav-area {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
  }
}

.content-wrapper {
  padding: 20px;
}

.actions-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.action-card {
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .large-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
    margin-block: 20px;
    color: rgb(124, 105, 231);
  }
}
